.ngo-signup-container {
  width: 450px;
  height: auto;
  margin: 40px auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ngo-signup-title {
  font-size: 2.5em;
  text-decoration: underline;
  color: #2e2e2e;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.ngo-signup-form {
  width: 100%;
}

.ngo-signup-form input,
.ngo-signup-form textarea {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 30px;
  margin: 10px 0;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 0.9em;
  font-weight: 500;
  color: black;
  box-sizing: border-box;
}

.ngo-signup-form textarea {
  height: 60px;
  resize: vertical;
  padding-top: 10px;
}

.ngo-signup-form input:focus,
.ngo-signup-form textarea:focus {
  outline: none;
  border-bottom: 2px solid #5f7058;
}

.ngo-signup-form input::placeholder,
.ngo-signup-form textarea::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.ngo-file-upload-label {
  display: block;
  margin: 15px 0;
  font-size: 0.95em;
  font-weight: 500;
  color: #333;
}

.ngo-file-upload-label input[type="file"] {
  margin-top: 6px;
}

.ngo-signup-form button {
  position: relative;
  width: 100%;
  border: 2px solid #5f7058;
  background-color: #5f7058;
  height: 40px;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.ngo-signup-form button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: 0.5s;
}

.ngo-signup-form button:hover::after {
  transform: translateX(600px);
  transition-duration: 0.5s;
}

.ngo-error-msg,
.ngo-success-msg {
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.ngo-error-msg {
  color: red;
}

.ngo-success-msg {
  color: green;
}
